[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "box"]
	path = box
	url = https://github.com/wolverian/box.git
[submodule "config/solarized"]
	path = config/solarized
	url = https://github.com/altercation/solarized
[submodule "config/dircolors-solarized"]
	path = config/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "config/irssi-colors-solarized"]
	path = config/irssi-colors-solarized
	url = https://github.com/huyz/irssi-colors-solarized.git
[submodule "config/irssi-trackbar"]
	path = config/irssi-trackbar
	url = https://github.com/mjholtkamp/irssi-trackbar
[submodule "config/powerline-fonts"]
	path = config/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "config/xiki"]
	path = config/xiki
	url = git://github.com/trogdoro/xiki.git
[submodule "config/git-submodule-tools"]
	path = config/git-submodule-tools
	url = https://github.com/kollerma/git-submodule-tools.git
