[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = git://github.com/tpope/vim-rvm.git
